nav{
    margin: 30px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* 세로 가운데 정렬 */
}

.home{
    font-size: xx-large;
    font-weight: bold;
    background-color: #fff;
    border: #fff;
    cursor: pointer;
    margin: 30px;
}

h1 {
    margin-bottom: 25px;
}

.top{
    text-align: center;
    margin-top: 100px;
}

.content{
    text-align: center;
    margin-top: 50px;
}

.pi{
    margin: 30px;
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    align-items: center; /* 가로 가운데 정렬 */
}

.put{
    display: flex;
    align-items: center; /* 가로 가운데 정렬 */
    flex-direction: column; /* 세로 정렬 */
}

.input{
    width: 150px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid #000;
    margin-bottom: 5px;
}

.button{
    border-radius: 3px;
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
    font-size: 15px;
    margin-bottom: 10px;
}

.button:hover{
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

